:root {
    --pink: #D26890;
    --red:#d10000;
    --orange:#fe6847;
    --yellow:#ffbf00;
    --darkgreen:#628B48;
    --lightgreen:#6AB547;
    --lightblue:#97D0E6;
    --darkblue:#16324f;
    --darkpurple:#610F7F;
    --lightpurple:#d098db;
    --gray: #ddd;
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.main {
    margin-top: 100px;
}

/* LINKS */

a {
    text-decoration: none;
    color: var(--pink);
}

a:hover {
    color: var(--yellow);
}

nav a {
    color: inherit;
    padding: 10px;
}

/* FLEX CONTAINER */

.flex {
    display: flex;
    justify-content: space-evenly;
}

/* IMAGES */

img {
    max-width: 100%;
}
 /* COLORS  */

.pink {
    color: var(--pink);
}

.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.yellow {
    color: var(--yellow);
}

.darkgreen {
    color: var(--darkgreen);
}

.lightgreen {
    color: var(--lightgreen);
}

.lightblue {
    color: var(--lightblue);
}

.darkblue {
    color: var(--darkblue);
}

.lightpurple {
    color: var(--lightpurple);
}

.darkpurple {
    color: var(--darkpurple);
}

.gray {
    color: var(--gray);
}

/* BACKGROUND-COLORS */

.pink-bg {
    background-color: var(--pink);
}

.red-bg {
    background-color: var(--red);
    color: #fff;
}

.orange-bg {
    background-color: var(--orange);
}

.yellow-bg {
    background-color: var(--yellow);
}

.darkgreen-bg {
    background-color: var(--darkgreen);
}

.lightgreen-bg {
    background-color: var(--lightgreen);
}

.lightblue-bg {
    background-color: var(--lightblue);
}

.darkblue-bg {
    background-color: var(--darkblue);
    color: #fff;
}

.lightpurple-bg {
    background-color: var(--lightpurple);
}

.darkpurple-bg {
    background-color: var(--darkpurple);
    color: #fff;
}

.gray-bg {
    background-color: var(--gray);
}

/* PADDING AND MARGIN*/
.pa10 {
    padding: 10px;
}

.pa20 {
    padding: 20px;
}

.ma10 {
    margin: 10px;
}

.ma20 {
    margin: 20px;
}

.ml0 {
    margin-left: 0;
}

.mr0 {
    margin-right: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

/* BORDERS AND BORDER RADIUS */

.b0 {
    border: 0;
}

.br10 {
    border-radius: 10px;
}

.br50 {
    border-radius: 50%;
}


