@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --pink: #D26890;
    --red:#d10000;
    --orange:#fe6847;
    --yellow:#ffbf00;
    --darkgreen:#628B48;
    --lightgreen:#6AB547;
    --lightblue:#97D0E6;
    --darkblue:#16324f;
    --darkpurple:#610F7F;
    --lightpurple:#d098db;
    --gray: #ddd;
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6em;
}

.header {
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
}

.hero {
    height: 100vh;
    display: grid;
    place-content: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

.main {
    margin-top: 100px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}
article {
    width: 33%;
    padding: 20px;
 }

/* TYPOGRAPHY */
.title-home, 
.hero,
h1, 
h2 {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 40px;
    line-height: 40px;
}
/* LINKS */

a {
    text-decoration: none;
    color: var(--orange);
}

a:hover, a:focus {
    color: var(--yellow);
}

nav a {
    color: inherit;
    padding: 10px;
}

/* FLEX CONTAINER */

.flex {
    display: flex;
    justify-content: space-evenly;
}

/* IMAGES */

img {
    max-width: 100%;
}

section img {
    max-width: 500px;
}

 /* COLORS  */

.pink {
    color: var(--pink);
}

.red {
    color: var(--red);
}

.orange {
    color: var(--orange);
}

.yellow {
    color: var(--yellow);
}

.darkgreen {
    color: var(--darkgreen);
}

.lightgreen {
    color: var(--lightgreen);
}

.lightblue {
    color: var(--lightblue);
}

.darkblue {
    color: var(--darkblue);
}

.lightpurple {
    color: var(--lightpurple);
}

.darkpurple {
    color: var(--darkpurple);
}

.gray {
    color: var(--gray);
}

/* BACKGROUND-COLORS */

.pink-bg {
    background-color: var(--pink);
}

.red-bg {
    background-color: var(--red);
    color: #fff;
}

.orange-bg {
    background-color: var(--orange);
}

.yellow-bg {
    background-color: var(--yellow);
}

.darkgreen-bg {
    background-color: var(--darkgreen);
}

.lightgreen-bg {
    background-color: var(--lightgreen);
}

.lightblue-bg {
    background-color: var(--lightblue);
}

.darkblue-bg {
    background-color: var(--darkblue);
    color: #fff;
}

.lightpurple-bg {
    background-color: var(--lightpurple);
}

.darkpurple-bg {
    background-color: var(--darkpurple);
    color: #fff;
}

.gray-bg {
    background-color: var(--gray);
}

/* PADDING AND MARGIN*/
.pa10 {
    padding: 10px;
}

.pa20 {
    padding: 20px;
}

.ma10 {
    margin: 10px;
}

.ma20 {
    margin: 20px;
}

.ml0 {
    margin-left: 0;
}

.mr0 {
    margin-right: 0;
}

.mb0 {
    margin-bottom: 0;
}

.mt0 {
    margin-top: 0;
}

/* BORDERS AND BORDER RADIUS */

.b0 {
    border: 0;
}

.br10 {
    border-radius: 10px;
}

.br50 {
    border-radius: 50%;
}

/* CALENDAR */

.calendar {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.datetag {
    padding: 8px;
    margin: 20px;
    background-color: #111;
    color: #fff;
    text-align: center;
    height: fit-content;
}
.date-month,
.date-day,
.date-time {
    margin: 2px;
}
.date-day {
    font-size: 2.3em;
    margin-bottom: 10px;
}


@media screen and (max-width: 600px) {
    
    .header {
        position: relative;
        top: 0;
    }

    #about, body, nav, nav a{
        display: block;
    }
    main {
        margin: 3px;
    }

    article {
        width: 90%;
    }
}
